body {
    margin: 100px 350px 10px 350px; 
    background-image :url(pukpuk/ruslanlox.png);
background-size: cover;
}
p {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 18px;
    color:rgb(255, 255, 255);
}
h1 {
    border-width: 6px;
    border-style: groove;
    border-color: rgb(0, 0, 0);
}
.center {
    text-align: center;
}
